<div class="modal-header">
    <h4 class="modal-title pull-left">Change Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form-horizontal" #passwordForm="ngForm">
    <div class="modal-body">      

        <div class="form-group">
          <label for="oldPwd" class="col-sm-4 control-label">Old Password</label>
          <div class="col-sm-4">
              <input type="password" class="form-control" id="oldPwd" [(ngModel)]="oldPwd" name="oldPwdControl" #oldPwdControl="ngModel" required>
              <div [hidden]="(oldPwdControl.valid || oldPwdControl.pristine)" class="alert alert-danger" style="padding: 5px;margin-bottom: 0px;text-align: center">
                  Old Password is Required
              </div>
          </div>
        </div>
        
        
        <div class="form-group">
          <label for="newPwd" class="col-sm-4 control-label">New Password</label>
          <div class="col-sm-4">
              <input type="password" class="form-control" id="newPwd" name="newPwdControl" #newPwdControl="ngModel" 
                [(ngModel)]="newPwd" 
                compareTo="newPwdConfirmControl"
                parent="true"            
                required>
              <div *ngIf="(!newPwdControl.valid && !newPwdControl.pristine)" class="alert alert-danger" style="padding: 5px;margin-bottom: 0px;text-align: center">
                  <div *ngIf="newPwdControl.errors.required">Password is required.</div>
              </div>
          </div>
        </div>
        
        <div class="form-group" *ngIf="(!newPwdControl.pristine && newPwdControl.valid)">
          <label for="newPwdConfirm" class="col-sm-4 control-label">Confirm Password</label>
          <div class="col-sm-4">
            <input 
              type="password" class="form-control" id="newPwdConfirm" placeholder="Retype Password..." 
              [(ngModel)]="newPwdConfirm"  
              name="newPwdConfirmControl" 
              #newPwdConfirmControl=ngModel 
              (paste)="false"
              compareTo="newPwdControl" 
              required>
            <div *ngIf="(!newPwdConfirmControl.valid)" class="alert alert-danger" style="padding: 5px;margin-bottom: 0px;text-align: center">
                <div *ngIf="newPwdConfirmControl.pristine || newPwdConfirmControl.errors.required">Confirm Password is required.</div>
                <div *ngIf="newPwdConfirmControl.errors.compare && !newPwdConfirmControl.errors.required && !newPwdConfirmControl.pristine">Passwords do not match</div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <div *ngIf="message" class="alert alert-danger" style="padding: 5px;margin-bottom: 5px;text-align: center">
        {{message}}
      </div>      
      <button type="submit" class="btn btn-success" [disabled]="!passwordForm.form.valid || passwordForm.form.pristine" (click)="submitChanges()">Submit</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancel</button>
    </div>
  </form>