# General
.DS_Store
.AppleDouble
.LSOverride
TEST-data

# Icon must end with two \r
Icon

.classpath
.project
.factorypath
.settings
*.iml
.idea

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/
docs/site

#netbeans IDE
nb-configuration.xml
nbactions.xml
