<div class="row" style="height: calc(100% - 72px); !important;">
  <div [ngClass]="{'col-xs-4': selectedVariantData, 'col-xs-12': !selectedVariantData, 'full-height':true}" >

    <div  class="row full-height" >
      <div class="col-xs-12 full-height">
        <ag-grid-angular
          #agGrid
          style="width:100%; height: 95%;"
          class="ag-theme-balham"
          [rowData]="variants"
          [columnDefs]="columnDefs"
          deltaColumnMode=true
          rowSelection='single'
          (rowDoubleClicked)="onRowDoubleClicked($event)"
          (rowSelected)="onRowSelect($event)"
          (sortChanged)="clearSelectedVariant()"
          (filterChanged)="clearSelectedVariant()"
          [frameworkComponents]="frameworkComponents"
          [context]="{query: cachedQuery? cachedQuery: null}"
          [overlayLoadingTemplate] = overlayTemplate
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
  <div class="col-xs-8 full-height variant-detail" *ngIf="selectedVariantData">
    <div class="row " style="height:15px">
      <div class="col-xs-6 pull-left text-left">
        <button type="button" class="btn btn-default btn-sm" [ngClass] = "{'disabled':!hasPrev()}" (click)="selectPrev()">
          <i class="glyphicon glyphicon-arrow-left"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" [ngClass] = "{'disabled':!hasNext()}" (click)="selectNext()">
          <i class="glyphicon glyphicon-arrow-right"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="clearSelectedVariant()">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </div>
    </div>
    <div class="row" style="height: calc(100% - 34px) !important;">
      <div class="col-xs-12 full-height" style="overflow:auto">
        <app-variant-detail [variant]="selectedVariantData.data" [vcf]="vcf"></app-variant-detail>
      </div>
    </div>
  </div>
</div>


