.LOADING-color{
    color: white;
    background-color: #337ab7;
}

.AVAILABLE-color{
    color: white;
    background-color: #5cb85c;
}

.NOT_AVAILABLE-color{
    color: white;
    background-color: gray;
}

.DELETING-color{
    color: white;
    background-color: orange;
}

.ERROR-color{
    color: white;
    background-color: #d9534f;
}